.carousel {
    width: 80vw;
    margin: 0 auto;
    background-color: #333;
}

.container {
    width: 80vw;
    height: 80vh;
    padding: 0;
}

.carousel-indicators li {
    height: 10px;
    max-width: 10px;
    border-radius: 5px;
}

.carousel-item img {
    display: block;
    width: 100%;
    height: auto;
}